# git config --local include.path ../.gitconfig
[alias]
	root = rev-parse --show-toplevel
	tree = log --graph --all --oneline
	co = checkout
	cm = commit -m
	st = status
	addremove = add -A
[push]
	default = current

# Create an alias that will look up previous tags that follow semantic versioning and increment the patch version